extends layouts/main_layout.pug
block pageContent

    script.
        const postID = '!{postID}'

    .postContainer 

    +createPostModals(userLoggedIn)

block scripts
    script(src="/scripts/post.js") 


