mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePicture, alt="User's profile picture")
        .textareaContainer 
            textarea#postTextArea(placeholder="...")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post 