extends layouts/main_layout.pug
block pageContent


    if !profileUser 
        span.errorMessage User not found, check the url you are trying to access
    else 
        script.
            let profileUserID = '!{profileUser._id}';
            let selectedTab = '!{selectedTab}';

        .tabsContainer 
            +createTab("Following",`/profile/${profileUser.username}/following`, selectedTab != "followers")
            +createTab("Followers",`/profile/${profileUser.username}/followers`, selectedTab == "followers")

        .resultsContainer
block scripts
    script(src="/scripts/followers.js") 


