extends layouts/main_layout.pug

block pageContent
    .resultsContainer 

block headerButton
    a(href='/messages/new')
        i.far.fa-plus-square

block scripts
    script(src="/scripts/inbox.js") 


