extends layouts/main_layout.pug

block pageContent
    .resultsContainer 

block headerButton
    button#markNotificationAsRead
        i.fa-solid.fa-check-double

block scripts
    script(src="/scripts/notifications.js") 


