@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
:root{
    --blueColour: rgb(53, 144, 219);
    --blue: #1FA2F1;
    --blueLight: #9BD1F9;
    --buttonHoverBg: #d4edff;
    --textColor: rgb(36, 36, 36);
    --greyText: rgb(101, 119, 134);
    --greyButtonText: rgba(0,0,0,0.34);
    --red: rgb(226,34,94);
    --redBackground: rgba(240, 41, 104, 0.336);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Roboto';
    font-weight: 100;

    text-decoration: none;
}



html, body{
    background-color: whitesmoke;
    font-weight: 300;

    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
}

#modal{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

#__next{

    flex: 1;

    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageContent{
    width: 50%;
    flex: 1;

    padding: 55px 0px 10px 0px;


    border-right: 1px solid rgb(175, 175, 175);
    border-left: 1px solid rgb(175, 175, 175);

}

.ContentContainer{
    width: 100%;
}

