.NewPostContainer{
    width: 100%;

    padding: 10px 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid grey;
}

.BorderTop{
    border-top: 1px solid grey;
}

.NewFormTitle{
    width: 100%;
    color: var(--greyText);
    font-weight: 400;
    margin-bottom: 5px;
}

.NewPostContainer>img{
    height: 70px;
    width: 70px;

    margin-left: 30px;

    border-radius: 50%;
    box-shadow: 0px 0px 5px grey;

    padding: 5px 5px;
}

.Form{
    width: 100%;
    height: auto;
}

.Form>textarea{
    width: 100%;
    height: 80px;

    padding: 5px 5px;

    resize: none;
    border-radius: 10px;
    border: none;

    background-color: rgb(236, 236, 236);
}

.FormToolBar{
    height: 50px;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Flex_reverse{
    flex-direction: row-reverse;
}

.PostButton, .FormToolBar>div>button{
    height: auto;
    width: auto;
    
    margin-right: 15px;
    padding: 5px;

    border: none;
    border-radius: 10px;

    font-size: 18px;
    font-weight: 500;
    text-align: center;

    color: whitesmoke;
    background-color: var(--blue);

}

.PostButton:hover, .FormToolBar>div>button:hover{
    background-color: var(--blueLight);
    cursor: pointer;
}