.Post{

    border-radius: 15px;
    padding: 10px;
    margin: 10px;

    background-color: #ffff;
    box-shadow: 0px 0px 5px grey;


}

.PostHeader{

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
}

.PostHeader:hover{
    cursor: pointer;
    background-color: rgb(218, 218, 218);
}

    .PostUserImage{
        width: 50px;
        height: 50px;
    
        background-color: whitesmoke;
        border-radius: 50%;
        box-shadow: 0px 0px 5px grey;
        padding: 2px;
    }

    .PostHeader>div{
        margin-left: 10px;
        width: 100%;
    }

        .PostHeader>div>h2{
            font-weight: 300;
            color: rgb(36, 36, 36);
            font-size: 25px;
        }
        
        .PostHeader>div>h3{
            color: var(--greyText);
            font-size: 20px;
        }

.PostBody{
    display: flex;
    flex-direction: row;

}

    .PostLink{
        width: 100%;

        padding: 10px;

        overflow: hidden;
        font-size: 20px;
        font-weight: 300;
        color: var(--greyText);
        text-decoration: none;
    }

    .PostLink:hover{
        cursor: pointer;
        background-color: rgb(218, 218, 218);
    }

.PostFooter{
    width: 100%;
    
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: 1px solid grey;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    .PostFooter button{
        cursor: pointer;
    }

    .PostUserButtons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .PostUserButtons>button{
        margin-left: 10px;
        width: 35px;
        height: 35px;
    
        font-size: 20px;
        text-align: center;
    
        border: none;
        border-radius: 50%;
    }
        .LikeButton{
            color: rgb(221, 74, 74);
        }
        
        .LikeButton:hover{
            background-color: var(--red);
            color: whitesmoke;
        }
        
        .CommentButton{
            color: var(--blue);
        }
        
        .CommentButton:hover{
            background-color: var(--blue);
            color: whitesmoke;
        }

    .DeletePostButton{
        height: 35px;
        width: 60px;
        margin-right: 15px;
        
        border: none;
        border-radius: 15px;
        
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        
        color: whitesmoke;
        background-color: var(--red);
    }
        
    .DeletePostButton:hover{
        background-color: var(--redBackground);
        cursor: pointer;
        color: var(--greyText);
    }